body {
  background-color: #0c0c0c;
  background-image: url(../images/snow_background.gif);
  background-repeat: repeat;
  color: white;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  overflow: hidden;
}

.youtube-background iframe {
  transition: opacity 500ms ease-in-out;
  transition-delay: 250ms;
}

.everything {
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgb(65, 0, 0, 0.5);
}

.container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
}

.countdown {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.countdown h1 {
  font-size: 6vw;
  font-weight: 300;
  text-transform: uppercase;
}
.countdown h2 {
  font-size: 4vw;
  margin-top: 1.5%;
}
.countdown p {
  font-weight: 400;
  font-size: 1.5vw;
  margin-bottom: 0;
}

a,
a:visited {
  color: #fa4f58;
}

a:hover {
  color: #ff6d80;
}

a:active {
  color: #ffa0a0;
}

.botones {
  display: flex;
  justify-content: space-around;
}

a.boton,
a.boton:visited {
  flex: 1;
  padding: 1%;
  background-color: #bf0000;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: larger;
}

a.boton:hover {
  background-color: #da0000;
}

a.boton.discord {
  background-color: #596bad;
}

a.boton.discord:hover {
  background-color: #677dce;
}

a.github {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  opacity: 0.25;
  border: none;
  text-decoration: none;
  z-index: 100;
}

a.github:hover,
a.github:active {
  opacity: 1;
}

#clock {
  display: flex;
  justify-content: space-around;
  line-height: 1;
}

#clock .time {
  display: inline-block;
  font-family: "Anonymous Pro", monospace;
  font-size: 10vw;
}

span.labels {
  display: block;
  font-size: 1.5vw;
  font-family: "Source Serif Pro", serif;
}

/* MEDIA QUERIES */

@media (min-width: 1925px) {
  .container {
    width: 1920px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .countdown h1 {
    font-size: 8vw;
  }

  .countdown p {
    font-size: 2.5vw;
  }

  #clock .time {
    font-size: 12vw;
  }

  span.labels {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  #clock .time {
    display: block;
    font-size: 16vw;
  }

  span.labels {
    font-size: 3vw;
  }

  a.github {
    bottom: 4vw;
    right: 4vw;
  }
}

@media (max-width: 600px) {
  .countdown h1 {
    font-size: 10vw;
  }

  .countdown p {
    font-size: 4vw;
  }

  #clock .time {
    font-size: 16vw;
  }

  span.labels {
    font-size: 3vw;
  }
}

@media (max-width: 450px) {
  #clock {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .countdown h1 {
    font-size: 13vw;
  }

  #clock .time {
    font-size: 22vw;
  }

  span.labels {
    font-size: 4vw;
  }
}
